@import '../../../@theme/styles/themes';
body {
  margin-top: 20px;
}

/* USER LIST TABLE */
.user-list tbody td>img {
  position: relative;
  max-width: 50px;
  float: left;
  margin-right: 15px;
}
.btn-circle.btn-sm {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  font-size: 8px;
  text-align: center;
}

.btn-circle.btn-md {
  width: 50px;
  height: 50px;
  padding: 7px 10px;
  border-radius: 25px;
  font-size: 10px;
  text-align: center;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 12px;
  text-align: center;
}

.user-list tbody td .user-link {
  display: block;
  font-size: 1.25em;
  padding-top: 3px;
  margin-left: 60px;
}

.user-list tbody td .user-subhead {
  font-size: 0.875em;
  font-style: italic;
}

/* TABLES */
.table {
  border-collapse: separate;
}
input#switchCheckDefault {
  /* background-color: #0c3b0c; */
  width: 60px;
  height: 26px;
}
@import '../../../@theme/styles/themes';


.center {
  display: block;

  margin-left: auto;
  margin-right: auto;
  height: 60px,
}

.mt {
  margin-top: 13px;
}

.icon {
  font-size: 24px;
  margin-top: 6px;
  margin-right: 10px;
}

button.btn.btn-success {
  margin-top: 3px;
  margin-bottom: 20px;

  color: #fff;
  background-color: #3f51b5;
  border-color: #3f51b5;
}

h4 {
  text-align: center;
  margin: 15px;
  padding-top: 15px;

}

.a1 {
  display: flex;
  border: 1px solid black;
}

.is-invalid {
  color: red;
  border: none;
}

input {
  border: solid black 1px;
}
.card-img-top {
  width: 79%;
  border-radius: 50%;
  height: 320px;
  margin-left: 53px;
  margin-top: 17px;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 29px;
  width: 284px;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: -5.75rem;
}
.table-hover>tbody>tr:hover>td,
.table-hover>tbody>tr:hover>th {
  background-color: #eee;
}

.table thead>tr>th {
  border-bottom: 1px solid #c2c2c2;
  padding-bottom: 0;
}

.table tbody>tr>td {
  font-size: 0.875em;
  background: #f5f5f5;
  border-top: 10px solid #fff;
  vertical-align: middle;
  padding: 12px 8px;
}

.table tbody>tr>td:first-child,
.table thead>tr>th:first-child {
  padding-left: 20px;
}

.table thead>tr>th span {
  border-bottom: 2px solid #c2c2c2;
  display: inline-block;
  padding: 0 5px;
  padding-bottom: 5px;
  font-weight: normal;
}

.table thead>tr>th>a span {
  color: #344644;
}

.table thead>tr>th>a span:after {
  content: "\f0dc";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  margin-left: 5px;
  font-size: 0.75em;
}

.table thead>tr>th>a.asc span:after {
  content: "\f0dd";
}

.table thead>tr>th>a.desc span:after {
  content: "\f0de";
}

.table thead>tr>th>a:hover span {
  text-decoration: none;
  color: #2bb6a3;
  border-color: #2bb6a3;
}

.table.table-hover tbody>tr>td {
  -webkit-transition: background-color 0.15s ease-in-out 0s;
  transition: background-color 0.15s ease-in-out 0s;
}

.table tbody tr td .call-type {
  display: block;
  font-size: 0.75em;
  text-align: center;
}

.table tbody tr td .first-line {
  line-height: 1.5;
  font-weight: 400;
  font-size: 1.125em;
}

.table tbody tr td .first-line span {
  font-size: 0.875em;
  color: #969696;
  font-weight: 300;
}

.table tbody tr td .second-line {
  font-size: 0.875em;
  line-height: 1.2;
}

.table a.table-link {
  margin: 0 5px;
  font-size: 1.125em;
}

.table a.table-link:hover {
  text-decoration: none;
  color: #2aa493;
}

.table a.table-link.danger {
  color: #fe635f;
}

.table a.table-link.danger:hover {
  color: #dd504c;
}

.table-products tbody>tr>td {
  background: none;
  border: none;
  border-bottom: 1px solid #ebebeb;
  -webkit-transition: background-color 0.15s ease-in-out 0s;
  transition: background-color 0.15s ease-in-out 0s;
  position: relative;
}

.table-products tbody>tr:hover>td {
  text-decoration: none;
  background-color: #f6f6f6;
}

.table-products .name {
  display: block;
  font-weight: 600;
  padding-bottom: 7px;
}

.table-products .price {
  display: block;
  text-decoration: none;
  width: 50%;
  float: left;
  font-size: 0.875em;
}

.table-products .price>i {
  color: #8dc859;
}

.table-products .warranty {
  display: block;
  text-decoration: none;
  width: 50%;
  float: left;
  font-size: 0.875em;
}

.table-products .warranty>i {
  color: #f1c40f;
}

.table tbody>tr.table-line-fb>td {
  background-color: #9daccb;
  color: #262525;
}

.table tbody>tr.table-line-twitter>td {
  background-color: #9fccff;
  color: #262525;
}

.table tbody>tr.table-line-plus>td {
  background-color: #eea59c;
  color: #262525;
}

.table-stats .status-social-icon {
  font-size: 1.9em;
  vertical-align: bottom;
}

.table-stats .table-line-fb .status-social-icon {
  color: #556484;
}

.table-stats .table-line-twitter .status-social-icon {
  color: #5885b8;
}

.table-stats .table-line-plus .status-social-icon {
  color: #a75d54;
}
@include nb-install-component() {
  .list-card {
    nb-card-header {
      border-bottom: none;
    }

    nb-card-body {
      padding: 0;
    }
  }
}
